.sidebar {
  width: 250px;
  height: 100vh;
  background: var(--dark-gray, rgba(64, 64, 64, 1));
  box-shadow: 0px 2px 12px 0px #00000012;
  &__header {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    img {
      width: 150px;
    }
  }
  ul {
    li {
      list-style: none;
      font-size: 16px;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      color: rgba(255,255,255, .7);
      &.active {
        background: var(--dark-gray, rgba(255,255, 255, 0.1));
        color: #fff;
      }
      &:hover {
        background: var(--dark-gray, rgba(255,255, 255, 0.1));
        color: #fff;
      }
    }
  }
}
