.sidebar {
  width: 250px;
  height: 100vh;
  background: #25262c;
  box-shadow: 0px 2px 12px 0px #00000012;
  &__header {
    height: 60px;
    background: #3b3b45;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
  }
  ul {
    li {
      list-style: none;
      font-size: 16px;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      color: rgba(255,255,255, .7);
      &:first-child {
        background: #3b3b45;
      }
      &:hover {
        background: #3b3b45;
        color: #fff;
      }
    }
  }
}
