@import "./date-picker.scss";

body{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}
input::placeholder{
  font-weight: 300;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

a {
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

button:disabled,
button[disabled]{
  opacity: .7;
}

.box {
  background: var(--bg-blue, rgba(242, 243, 255, 1));
  padding: 24px;
  border-radius: 8px;
  margin-top: 20px;
}

.title {
  font-size: 18px;
  margin-bottom: 30px;
}
