.header {
  height: 60px;
  background: #fff;
  width: 100%;
  box-shadow: 0px 2px 12px 0px #00000012;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.user__dropdown {
  width: 280px;
  ul {
    margin-top: 16px;
    li {
      padding: 5px 8px;
      cursor: pointer;
      border-radius: 8px;
      &:first-child {
        &:hover {
          background: #e9ecff;
          color: #472F91;
        }
      }
      &:last-child {
        &:hover {
          background: #f5d5d5;
          color: red;
        }
      }
    }
  }
  span {
    color: #8c94a5;
  }
  .powered {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
